<p style="color: green"><%= notice %></p>

<h1>Carros</h1>

<div id="cars">
  <% @cars.each do |car| %>
    <%= render car %>
    <p>
      <%= link_to "Mostrar", car %>
    </p>
  <% end %>
</div>

<%= link_to "Nuevo carro", new_car_path %>
<%= link_to "Regresar al inicio", root_path %>