<p style="color: green"><%= notice %></p>

<%= render @car %>

<div>
  <%= link_to "Editar carro", edit_car_path(@car) %> |
  <%= link_to "Devuelta a los carros", cars_path %>

  <%= button_to "Destruir este carro", @car, method: :delete %>
</div>
